

.container {
    margin: auto;
    font-family: sans-serif;
    
}

.heading {
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    
}
.body{
    position: static;
    height: 125vh;
    background-image: url('../images/road.jpeg');
    background-size: cover;
    /* top: 0;
    left: 0;
    right: 0; */
    
}

.nav-bar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-image: url('../images/kokee_mountain_bw.jpeg');
}

.nav-links {
    display:inline-block;
    /* float: right; */
    list-style: none;
    padding-left: 0;
}

.nav-link-item{
    padding-right: 2rem;
    text-decoration: none;
    
}

.nav-link-text{
    color: rgb(0, 246, 33);
    
}