@import url('https://fonts.googleapis.com/css2?family=Rock+3D&family=Ubuntu+Mono:wght@700&display=swap');

.container {
    margin: auto;
    font-family: sans-serif;
    
}

.heading {
    flex-wrap: wrap;
    font-family: 'Rock 3D', cursive;
    color: #5e3023;
    
}
.body{
    position: static;
    height: 125vh;
    background-color: #f3e9dc;
    /* top: 0;
    left: 0;
    right: 0; */
    
}

.nav-bar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #134231;
}

.nav-links {
    display:inline-block;
    /* float: right; */
    list-style: none;
    padding-left: 0;
}

.nav-link-item{
    padding-right: 2rem;
    text-decoration: none;
    
}

.nav-link-text{
    font-family: 'Ubuntu Mono', monospace;
    color: #dab49d;
    text-decoration: none;
}